<div class="centered-content">
    <div class="modal-box">
        
        <h1 class="title">
            Edit Configurations
        </h1>

        <input #displayNameInput class="input has-background-light is-medium" type="text" placeholder="Edit display name...">
        <input #colorCodeInput class="input has-background-light is-medium" type="text" placeholder="Enter color code (Ex.: #D3D3D3)...">
        <br><br>
        <div class="buttons is-right">
            <button class="button is-medium" routerLink="/">Go Back</button>
            <button class="button is-medium" style="background-color: #82d1f1;" (click)="updateConfig(displayNameInput.value, colorCodeInput.value)">Save</button>
        </div>

    </div>
</div>